.podium {
  margin: 0 auto;
  width: 809px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.podium .podium-block {
  position: absolute;
  height: 500px;
  overflow: hidden;
}

.podium .podium-block img.podium-block-img {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.podium .podium-block img.podium-block-img.monte {
  transform: translateY(-1000px);
}

.podium .podium-block.block-1 {
  left: 244px;
  width: 321px;
}

.podium .podium-block.block-1 img.podium-block-img {
  bottom: -1375px;
  transition-delay: 0;
  z-index: 1;
}

.podium .podium-block.block-1 .bas-du-podium {
  background: url(../img/bas-du-podium-chiffre-1.png) 0 0 no-repeat;
  z-index: 2;
}

.podium .podium-block.block-1 .winner {
  top: -1000px;
  transition-delay: 2s;
}

.podium .podium-block.block-2 {
  left: 1px;
  width: 282px;
}

.podium .podium-block.block-2 img.podium-block-img {
  bottom: -1375px;
  transition-delay: 0.8s;
  z-index: 3;
}

.podium .podium-block.block-2 .bas-du-podium {
  background: url(../img/bas-du-podium-chiffre-2.png) -1px 0 no-repeat;
  z-index: 4;
}

.podium .podium-block.block-2 .winner {
  top: -954px;
  transition-delay: 2.2s;
}

.podium .podium-block.block-3 {
  left: 528px;
  width: 282px;
}

.podium .podium-block.block-3 .winner {
  top: -915px;
  transition-delay: 2.6s;
}

.podium .podium-block.block-3 img.podium-block-img {
  bottom: -1370px;
  transition-delay: 1.6s;
  z-index: 5;
}

.podium .podium-block.block-3 .bas-du-podium {
  background: url(../img/bas-du-podium-chiffre-3.png) 0 0 no-repeat;
  z-index: 6;
}

.podium .podium-block .winner {
  position: relative;
  height: 200px;
  text-align: center;
  z-index: 8;
  transition: all 0.5s ease-in-out;
}

.podium .podium-block .winner.descend {
  transform: translateY(1000px);
}

.podium .podium-block .winner .avatar-big {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 3px brown;
  display: inline-block;
  background-color: white;
}

.podium .bas-du-podium {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
