

.podium {
	margin: 0 auto;
	width: 500px;
	// height: auto;
	// overflow: hidden;
	display: table;
	.podium-block {
		width: 33%;
		display: table-cell;
		&.block-2 {
			height: 118px;
		}
		&.block-1 {
			height: 157px;
		}
		&.block-3 {
			height: 78px;
		}
		&>div {
			float: left;
		}
		[class^="podium-block"] {//left-center-right
			height: 100%;
		}
		.podium-block-left {
			background-color: #82AFDE;
			width: 28%;
		}
		.podium-block-center {
			background-color: #001A70;
			width: 44%;
			text-align: center;	
			strong {
				display: block;
				margin-top: 15px;
			}
		}
		.podium-block-right {
			background-color: #005BBB;
			width: 28%;
		}

	}
	.socle {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		top: 15px;
		&>div {
			float: left;
		}
		.socle-center {
			background-color: #FFA02F;
			height: 30px;
			width: calc(100% - 60px);
		}
		.socle-left {
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-right: 30px solid #FFA02F;
			border-bottom: 15px solid transparent;
		}
		.socle-right {
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-left: 30px solid #FFA02F;
			border-bottom: 15px solid transparent;
		}
	}
}
